*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --azul: #00245D;
    --white: #fff
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40));
    background-position: center;
    background-size: center;
}

.logo{
    width: 160px;
    cursor: pointer;
}
   
.navbar a:hover{
    color: var(--azul);
}

.content{
    width: 100%;
    position: absolute;
    color: var(--white);
    top: 45%;
    transform: translateY(-50%);
    text-align: center;

}

.content h1{
    margin-top: 80px;
    font-size: 120px;
    font-weight: 800;
    margin-right: 15px;
    color: var(--white);
    font-family: "Lilita One", sans-serif;
    font-size: 50px;
    font-weight: 200px; ;
    font-style: oblique;
    background-clip: text; 
      
}

.icone_button button {
    width: 200px;
    padding: 15px;
    margin: 20px 5px;
    text-align: center;
    border-radius: 25px;
    border: 2px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s ease-in-out
}
.icone_button button:hover{
    background: #647ea9;
}

.icone_button a{
    text-decoration: none;
    color: #000;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.img{
    width: 100%;
    height: auto;
}

.banner img{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.esconder{
    display: none;
}



/* estilização destinos */

#logo{
    width: 210px;
    height: 210px;
}

.nav{
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #d9e8ff;
}

form{
    margin-right: 80px;
    margin: 10px;
    padding : 10px;
    border: 1px solid var(--azul);
    border-radius: 20px;
    display: flex;
    background: #d9e8ff;
}

form input#pesquisa {
    padding: 5px;
    border: none;
    outline: none;
    background: #d9e8ff;
    width: 300px;
}

form button{
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    background: #647ea9;
    color: var(--white);
}


.lista{
    margin-top: 10px;
    display: flex;
    margin-top: 10px;
    padding: 10px;
    border-radius:5px ;
    margin: 5px;
}

.item{
    text-align: center;
    padding: 10px;
    width: 300px;
    border: 2px solid #00245D;
    margin: 8px;

}

.item img {
    width: 100%;
}
